@media (max-width:1200px){
    .navbar_container{
        margin: 0rem 4rem;  
    }
}

@media (max-width:950px){
    .nav_links_container ul li{
        margin:0px 20px;
    }
}
@media (max-width:769px){
    .navbar_container{
        margin: 0rem 2rem;  
    }
    .nav_links_container {
        display:none;
    }  
    .menu{
        display:block;
    }
    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(5px) rotate(45deg);
    }
    #mobile_menu.is-active .bar:nth-child(2){
        /* opacity:0; */
        transition: 750ms all ease-out;
        transform: translateX(300px) rotate(360deg);
    }
    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8.5px) rotate(-45deg);
    }
    /* hamburger stuff */
    .hamburger_menu_container{
        display:none;
        left:0;
        transition: 0.5s all ease-in-out;
    }
    .hamburger_menu_container.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        /* margin:0px 3.5rem; */
        height:100vh;
        width: 100%;
        background-color:var(--green);
        backdrop-filter: blur(2px);
        z-index: 10;
        transition: 0.5s all ease-in-out;
    }
    .hamburger_links{
        list-style: none;
    }
    .hamburger_links li {
        margin-top: 50px; 
    }
    .hamburger_links li a{
        font-size:26px;
        font-family: "Medium";
        color:var(--background);
        text-decoration:none;
    }
    .hamburger_links li:nth-child(4){
        margin-bottom:50px;
    }
    .hamburger_button .button{
        font-size:20px;
        margin-top: 30px;
        margin-left:0px;
        color:var(--green);
        background-color:var(--background);
        padding:15px 50px;
        border-radius:2px;
        text-decoration:none; 
        font-family: "Medium";
    }
}